body {
  margin: 0px 20px;
}
.header {
  background-color: #89d9896b;
  text-align: center;
  box-sizing: border-box;
}
.head {
  padding: 20px;
}
.heading {
  font-size: 30px;
}
.para {
  font-stretch: normal;
  line-height: 5px;
  font-size: 16px;
}
.Painting {
  width: 100%;
  padding-top: 20px;
  height: 200px;
}
.Painting-left {
  width: 90%;
  float: left;
  line-height: 10px;
}
.Painting-right {
  width: 10%;
  float: right;
  padding-top: 40px;
}
.Pay {
  width: 100%;
  padding-top: 20px;
  height: 200px;
}
.Pay-left {
  width: 90%;
  float: left;
}
.Pay-right {
  width: 10%;
  float: right;
}
.contact {
  padding-top: 20px;
  height: 200px;
}
.contact-left {
  width: 50%;
  float: left;
}
.contact-right {
  float: left;
  width: 50%;
}
.common {
  line-height: 10px;
}
.inner-footer {
  background-color: #2c302ceb;
  text-align: center;
  font-family: sans-serif;
  color: white;
  padding: 10px;
}
